
    <footer class="page-footer grey">
        <div class="footer-copyright">
            <div class="container">
                Made by {{{author pkg.author}}}
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    {{#if livereloadPort}}
    <script src="http://localhost:{{livereloadPort}}/livereload.js"></script>
    {{/if}}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/materialize.js"></script>
    <script src="/assets/js/init.js"></script>

    </body>
</html>
