
    <footer class="page-footer grey">
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="{{pkg.author.url}}">{{pkg.author.name}}</a>
            </div>
        </div>
    </footer>


<!--  Scripts-->
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/materialize.js"></script>
    <script src="/assets/js/init.js"></script>

    </body>
</html>
