<header>

    <nav class="top-nav" role="navigation">
        <div class="container">
            <a href="#" data-activates="nav-mobile"
               class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only">
                <i class="material-icons">menu</i>
            </a>
        </div>

        <div class="nav-wrapper container">
            <ul class="right">
                {{#each collections.main }}
                    <li class="{{ifEqual ../path path 'active' }}{{ifIncludes ../collection path 'active' }}"><a href="/{{ path }}">{{ title }}</a></li>
                {{/each}}
            </ul>
        </div>
    </nav>

    {{> nav }}
</header>