{{> head }}
{{> header }}

<main>

    <div class="container">
        <h1>{{ title }}</h1>
        <div class="contents">{{{ contents }}}</div>
    </div>

    <div class="container">
        <ul>
            {{#each collections.news }}
                <li><a href="/{{ path }}">{{ title }}</a></li>
            {{/each}}
        </ul>
    </div>
</main>

{{> footer }}