{{> head }}
{{> header }}

<main>
    <div class="container">
        <h1>{{ title }}</h1>
        <time>{{ date }}</time>
        <span class="right">{{{author author}}}</span>
        <div class="contents">{{{ contents }}}</div>
    </div>
</main>

{{> footer }}